<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Battery_battery_additional</key>
	<string>percentage</string>
	<key>Battery_battery_chargerInside</key>
	<true/>
	<key>Battery_battery_color</key>
	<false/>
	<key>Battery_battery_hideAdditionalWhenFull</key>
	<true/>
	<key>Battery_notifications_high</key>
	<string>0.97</string>
	<key>Battery_notifications_low</key>
	<string>0.1</string>
	<key>Battery_timeFormat</key>
	<string>short</string>
	<key>CPU_barChart_position</key>
	<integer>1</integer>
	<key>CPU_label_position</key>
	<integer>2</integer>
	<key>CPU_lineChartHistory</key>
	<integer>600</integer>
	<key>CPU_lineChart_position</key>
	<integer>0</integer>
	<key>CPU_line_chart_box</key>
	<false/>
	<key>CPU_line_chart_frame</key>
	<true/>
	<key>CPU_mini_position</key>
	<integer>3</integer>
	<key>CPU_pieChart_position</key>
	<integer>4</integer>
	<key>CPU_state</key>
	<true/>
	<key>CPU_tachometer_position</key>
	<integer>5</integer>
	<key>CPU_widget</key>
	<string>line_chart</string>
	<key>CombinedModules</key>
	<false/>
	<key>CombinedModules_spacing</key>
	<string>8</string>
	<key>Disk_barChart_position</key>
	<integer>3</integer>
	<key>Disk_label_position</key>
	<integer>1</integer>
	<key>Disk_memory_position</key>
	<integer>4</integer>
	<key>Disk_mini_position</key>
	<integer>2</integer>
	<key>Disk_networkChart_position</key>
	<integer>6</integer>
	<key>Disk_pieChart_position</key>
	<integer>0</integer>
	<key>Disk_speed_position</key>
	<integer>5</integer>
	<key>Disk_widget</key>
	<string>pie_chart</string>
	<key>GPU_barChart_position</key>
	<integer>0</integer>
	<key>GPU_bar_chart_box</key>
	<false/>
	<key>GPU_bar_chart_frame</key>
	<true/>
	<key>GPU_label_position</key>
	<integer>1</integer>
	<key>GPU_lineChart_position</key>
	<integer>4</integer>
	<key>GPU_mini_position</key>
	<integer>2</integer>
	<key>GPU_state</key>
	<true/>
	<key>GPU_tachometer_position</key>
	<integer>3</integer>
	<key>GPU_widget</key>
	<string>bar_chart</string>
	<key>LaunchAtLoginNext</key>
	<true/>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{800, 448}</string>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSStatusItem Preferred Position Battery</key>
	<real>176</real>
	<key>NSStatusItem Preferred Position CPU</key>
	<real>320</real>
	<key>NSStatusItem Preferred Position Disk</key>
	<real>403</real>
	<key>NSStatusItem Preferred Position GPU</key>
	<real>289</real>
	<key>NSStatusItem Preferred Position Network</key>
	<real>441</real>
	<key>NSStatusItem Preferred Position RAM</key>
	<real>372</real>
	<key>NSStatusItem Preferred Position Sensors</key>
	<real>541</real>
	<key>NSToolbar Configuration eu.exelban.Stats.Settings.Toolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>464 402 800 448 0 0 1728 1079 </string>
	<key>Network_chartHistory</key>
	<integer>600</integer>
	<key>Network_label_position</key>
	<integer>2</integer>
	<key>Network_networkChart_position</key>
	<integer>0</integer>
	<key>Network_speed_displayValue</key>
	<string>oi</string>
	<key>Network_speed_icon</key>
	<string>none</string>
	<key>Network_speed_iconAlignment</key>
	<string>right</string>
	<key>Network_speed_iconColor</key>
	<string>default</string>
	<key>Network_speed_mode</key>
	<string>twoRows</string>
	<key>Network_speed_monochrome</key>
	<false/>
	<key>Network_speed_position</key>
	<integer>1</integer>
	<key>Network_speed_valueAlignment</key>
	<string>right</string>
	<key>Network_state_position</key>
	<integer>3</integer>
	<key>Network_text_position</key>
	<integer>4</integer>
	<key>Network_widget</key>
	<string>speed,network_chart</string>
	<key>RAM_barChart_position</key>
	<integer>0</integer>
	<key>RAM_bar_chart_box</key>
	<false/>
	<key>RAM_bar_chart_frame</key>
	<true/>
	<key>RAM_label_position</key>
	<integer>1</integer>
	<key>RAM_lineChart_position</key>
	<integer>3</integer>
	<key>RAM_memory_position</key>
	<integer>5</integer>
	<key>RAM_mini_position</key>
	<integer>2</integer>
	<key>RAM_pieChart_position</key>
	<integer>4</integer>
	<key>RAM_tachometer_position</key>
	<integer>6</integer>
	<key>RAM_text_position</key>
	<integer>7</integer>
	<key>RAM_widget</key>
	<string>bar_chart</string>
	<key>Sensors_barChart_position</key>
	<integer>3</integer>
	<key>Sensors_label_position</key>
	<integer>1</integer>
	<key>Sensors_mini_position</key>
	<integer>2</integer>
	<key>Sensors_speed</key>
	<false/>
	<key>Sensors_stack_position</key>
	<integer>0</integer>
	<key>Sensors_state</key>
	<true/>
	<key>Sensors_updateInterval</key>
	<integer>5</integer>
	<key>Sensors_widget</key>
	<string>sensors</string>
	<key>runAtLoginInitialized</key>
	<true/>
	<key>sensor_Hottest CPU</key>
	<true/>
	<key>sensor_PDTR</key>
	<true/>
	<key>sensor_Tf04</key>
	<false/>
	<key>setupProcess</key>
	<true/>
	<key>telemetry</key>
	<false/>
	<key>telemetry_id</key>
	<string>E1B6F6B7-4DBE-4A11-BB73-9171F3F98648</string>
	<key>temperature_units</key>
	<string>celsius</string>
	<key>update-interval</key>
	<string>Once per month</string>
	<key>updater_check_ts</key>
	<integer>1734642672</integer>
	<key>version</key>
	<string>2.11.21</string>
</dict>
</plist>
